### Django ###
*.pyc
*.DS_Store

*/__pycache__/*
*.log

db.sqlite3
db.sqlite3-journal
venv
htmlcov

**/migrations/
*/migrations/*
!**/migrations
!**/migrations/_init_.py

*/__pycache__/*
*.log

media/**
!media/static
static

.vscode
*.ini
.git_credentials
gitpush